
.calendar {
  font-family: Arial, sans-serif;
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: right;
  margin-top: 5px;
}


.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.calendar-header select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.calendar-header select:focus {
  outline: none;
}

.calendar-header button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color:  #2d72da;
  /* background: #e29999; */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calendar-header button:hover {
  background-color: #0056b3;
  /* background: #e29999; */
}


.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-day-header {
  text-align: center;
  padding: 10px;
  background-color: #2d72da;
  /* background: #e29999 */
  color: #fff;
}

.calendar-day {
  width: 14%;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}

.calendar-day-disabled {
  color: #ccc;
  cursor: default;
}

.calendar-day-selected {
  /* background-color: #007bff; */
  background: #2d72da;
  color: #fff;
}


.meetings-container {
  margin-top: 20px;
}

.meetings-container h3 {
  margin-bottom: 10px;
}

.meetings-container ul {
  list-style: none;
  padding: 0;
}

.meetings-container ul li {
  margin-bottom: 5px;
}
